div{
    height: 800px;
    width: 800px;
    border: ipx outset black;
    background-color: bisque;
    margin-left: 300px;
}

h1{
    text-align: center;
    padding-top: 80px;
}

input{
    margin-left: 200px;
    height: 35px;
    width: 380px;
    margin-top: 20px;
    font-family: system-ui;
}

button{
    height: 30px;
    width: 150px;
    margin-left: 315px;
    margin-top: 10px;
    font-family: system-ui;
}