.a{
    height: 200px;
    width: 180px;
    border:1px outset black;
    border-radius: 20px;
    margin-top: 10px;
}
.b{
    height: 200px;
    width: 180px;
    border:1px outset black;
    margin-left: 200px;
    margin-top: -200px;
    border-radius: 20px;

}
.c{
    height: 200px;
    width: 180px;
    border:1px outset black;
    margin-left:400px;
    margin-top: -200;
    border-radius: 20px;

}
.d{
    height: 200px;
    width: 180px;
    border:1px outset black;
    margin-left:600px;
    margin-top: -200;
    border-radius: 20px;
}
.e{
    height: 200px;
    width: 180px;
    border:1px outset black;
    margin-left:800px;
    margin-top: -200;
    border-radius: 20px;
}
.f{
    height: 200px;
    width: 180px;
    border:1px outset black;
    margin-left:1000px;
    margin-top: -200;
    border-radius: 20px;
}
.buil{
margin-left: 40px;
margin-top: 40px;
height: 80px;
width: 100px;
}
h1{
    font-size: 15px;
    margin-left: 60px;
    font-family: arial;
}
.head{
    font-size: 13px;
    margin-left: 20px;

}

button{
    margin-left: 400px;
    background-color: darkgoldenrod;
    margin-top: 100px;
    height: 40px;
    width: 400px;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: black;
}
P{
    margin-left: 310PX;
    font-size: 25PX;
    font-weight: BOLD;
}

.d1{
    height: 40px;
    width: 90px;
    border: 1px outeset black;
}
.gif{
    margin-top: -20px;
}
.box{
    height: 40px;
    width: 900px;
    border: 1px outset black;
    margin-left: 140px;
    background-color: darkgoldenrod;
    border-radius: 5px;
}


h2{    font-family: arial;
margin-left: 520px;
margin-top: -30px;
color:white;
}
.div1{
height: 550px;
width: 600px;
border:1px outset black;
float: left;
background-color: gray;

}
.div2{
height: 550px;
width: 600px;
border:1px outset black;
float: left;
background-color: gray;

}
.bank{
    height: 60px;
    width: 100px;
    margin-left: 130px;
}
.btn1{
    margin-top: 610px;
    margin-left: 85px;
    font-size: 18px;
}
.btn2{
    margin-top: 565px;
    margin-left: 530px;
    font-size: 18px;

}
.div3{
height:40px ;
width: 900px;
border:1px outset black;
margin-top: 600px;
margin-left: 140px;
background-color:darkgoldenrod ;
border-radius: 5px;
}
.LOAN{
    margin-left: 300PX;
    margin-top: 10px;
font-size: 20px;
color: white;
}
.own{
    font-size: 20px;
    margin-left: 40px;
    font-style: bold;
    font-weight: bold;
}
input{
    width: 250px;
    height: 30px;
    border:1px outset skyblue;
    border-radius: 10px;
}
.radio{
    height: 25px;
    width: 20px;
    margin-top: 6px;
}
.reg{
    height: 30px;
    width:130px ;
    margin-top: -40px;
    background-color: green;
    font-size: 15px;
    border-radius: 1px;
    font-style: bold;
    color: white;
}
.div4{
    height: 40px;
    width: 600px;
    border: 1px outset black;
    margin-left: -61px;
}
.PERVIEW{
    margin-left: 30PX;
    font-size: 12PX;
    margin-top: 12PX;
}
.small{
    height: 30px;
    width: 210px;
    border-radius: 5px;
    border: 1px outset black;
    margin-left: 350px;
    margin-top: -28px;
    background-color: lightgreen;
}
.h{
    font-size: 12PX;
    color: green;
    padding-left: 20px;
}
.open{
    font-size: 21px;
    margin-left: 80px;
    color:white;

}