/* HEADER CLASS START */
.header{
    height: 100px;
    width: 1420px;
    border: 1px outset black;
    top: sticky-fixed;
    position: fixed;
    top: 0;
    background-color: rgb(41, 35, 35);
}

.logo{
    height: 99px;
    width: 150px;
    border-radius: 50px;
  padding-left: 10px;

}

.homepages a {
    font-size: 24px;
    padding-left: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-style: bold;

}


div.btn{
    margin-left:1100px;
    width: 100px;
   margin-top: -38px;
   border-radius: 10px;
      
}

/* HEADER CLASS END */

div.main{
    
    height:600px;
   margin-left: 0px;
    margin-top: 100px;
}

a{
    text-decoration: none;
    font-size: 16px;
    color: black;
    
}

div{
    margin-left: 350px;
    margin-top: -60px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

  

}

select{
    height: 35px;
    width: 90px;
    font-size:16px ;
    margin-left: 100px;
}

input{

   
    margin-left:-5px ;
    height: 38px;
    width: 400px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    
}




button{
    margin-left: 100px;
    height: 40px;
    width: 150px;
}

.m1{
    height: 500px;
    width: 1420px;
    margin-left: 0px;
}


div.info{
    height: 500px;
    width: 800px;
    border: 1px outset black;
    float: right;
    margin-top: 100px;
    margin-right:50px ;
    border-radius: 10px;
    background-color:bisque;
    background: rgba(255,228,196,0.8)
}

    .detail{
        height: 50px;
        width: 350px;
        border: 1px outset black;
        margin-left: 243px;
        margin-top: 80px;
        background-color:darkgray;
    }

    .im1{
        height: 40px;
        width: 40px;
        margin-top: -250px;
        margin-left: -12px;
    }

    .im2{
        height: 30px;
        width: 30px;
        margin-top: -150px;
        margin-left: -12px;
    }


    h5{
        padding-left:20px;
        
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }

    h6{
        margin-top: -50px;
        font-size: 15px;
        margin-left: 60px;
    }


.box1{
    height: 40px;
    width: 124px;
    border: 1px outset black;
   margin-left:205px;
    margin-top: 20px; 
    text-align: center; 
}



 .box2{
    height: 40px;
    width: 120px;
    border: 1px outset black;
   margin-left: 330px;
   margin-top: -42px;
   text-align: center; 
   
   
}

.box3{
    height: 40px;
    width: 180px;
    border: 1px outset black;
   margin-left: 452px;
   margin-top: -42px;
   text-align: center; 
   padding-left: -100px;
}

.text{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 38px;
    
}

select{
    height:42px ;
    width:181px ;
    margin-left: 34px;
}


/* Search box CSS */
.search{
    background-color: rgb(5, 84, 116);
    font-size: 18px;
    color: white;
    padding-top: -30px;
 
    width: 100px;
    padding-left: 40px;   
}

.icon{
    height: 25px;
    width: 27px;
    margin-left: -140px; 
    border-radius: 20px;
    padding-top: 10px;
    
}

.radioBtn{
    height: 40px;
    width:732px;
    border: 1px outset black;
    margin-top: -1px;
    margin-left:34px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.rbtn{
    height: 15px;
    width: 15px;
    margin-top: 10px;
    margin-left: 5px;
}

.bhk{
    height: 35px;
    
    margin-left: 4px;
}

.property{
    height: 35px;
    margin-left: -1px;

}

.checkbox{
    width: 34px;
    height: 15px;
}

.line{
    width: 20px;
    height: 5px;
    border: 1px outset white;
    margin-top: 400px;
}

.bf{
    height: 40px;
    width: 180px;
    background-color: goldenrod;
    margin-top: 40px;
    margin-left: 309px;
}

video {
    position: absolute;
    z-index: -1;
}

h1{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 240px;
}

div.imgGallary{
    height: 250px;
    width: 1420px;
    border: 1px outset black;
    margin-top: 20px;
    margin-left: 2px;
    background-color: rgb(243, 240, 240);
}

div.miniphotos1{
  height: 200px;
    width: 250px;
    border:1px outset black;
    border-radius: 20px;
    margin-top: 20px;
    margin-left:20px ;
} 
.R1{
    height: 200px;
    width: 250px;
    border-radius: 20px;
    background: cover;
}


div.miniphotos2{
    height: 200px;
      width: 250px;
      border:1px outset black;
      border-radius: 20px;
      margin-top:-205px;
      margin-left:280px;
  }

  .R2{
    height: 200px;
    width: 250px;
    border-radius: 20px;
    background: cover;
}
  
  div.miniphotos3{
    height: 200px;
      width: 250px;
      border:1px outset black;
      border-radius: 20px;
      margin-top: -205px;
      margin-left:280px ;
  }

  .R3{
    height: 200px;
    width: 250px;
    border-radius: 20px;
    background: cover;
}
  

  div.miniphotos4{
    height: 200px;
      width: 250px;
      border:1px outset black;
      border-radius: 20px;
      margin-top:-205px;
      margin-left:280px ;
  }

  .R4{
    height: 200px;
    width: 250px;
    border-radius: 20px;
    background: cover;
}

  div.miniphotos5{
    height: 200px;
      width: 250px;
      border:1px outset black;
      border-radius: 20px;
      margin-top:-205px;
      margin-left:280px ;
  }

  .R5{
    height: 200px;
    width: 250px;
    border-radius: 20px;
    background: cover;
}

div.paragraph2{
    height: 500px;
    width: 442px;
    border: 1px outset black;
    margin-top: 50px;
    float: right;
}

.paraimg{
    height: 500px;
    width: 750px;
    float: right;

}

div.paragraph_H{
    height: 500px;
    width: 650px;
    /* border: 1px outset black; */
    margin-left:0px;
    margin-top: 50px;
    background-color: rgb(245, 241, 241);
    
}

.dataho{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding-left: 50px;
    padding-top: 40px;
    line-height: 23px;

} 

/* Above footrs icons CSS */

.icons_div{
    height: 250px;
    width: 1420px;
    border: 1px outset black;
    margin-top: 30px;
    margin-left: 2px;
    background-color: rgb(247, 239, 239);
}

.multipleicons1{
height: 200px;
width: 180px;
border:1px outset black;
border-radius: 20px;
margin-top: 25px;
margin-left:40px ;
    
}

.c1{
    height: 80px;
    width: 100px;
    margin-left: 30px;
    margin-top: 30px;
}

.box1-title{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 8px;
    color: rgb(230, 169, 54);

}

.box1-description{
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: -10px;
    

}

.multipleicons2{
    height: 200px;
      width: 180px;
      border:1px outset black;
      border-radius: 20px;
      margin-top:-189px;
      margin-left:230px;
}

.c2{
    height: 80px;
    width: 100px;
    margin-left: 30px;
    margin-top: 30px;
}

.box2-title{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 8px;
    color: rgb(230, 169, 54);

}

.box2-description{
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: -10px;

}

.multipleicons3{
    height: 200px;
    width: 180px;
    border:1px outset black;
    border-radius: 20px;
    margin-top: -195px;
    margin-left:230px ;  
}

.c3{
    height: 80px;
    width: 100px;
    margin-left: 30px;
    margin-top: 30px;
}

.box3-title{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: -8px;
    color: rgb(230, 169, 54);

}

.box3-description{
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: -10px;

}

.multipleicons4{
    height: 200px;
    width: 180px;
    border:1px outset black;
    border-radius: 20px;
    margin-top: -205px;
    margin-left:230px ;
 }

 .c4{
    height: 80px;
    width: 100px;
    margin-left: 30px;
    margin-top: 30px;
}

.box4-title{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top:-8px;
    color: rgb(230, 169, 54);

}

.box4-description{
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: -10px;

}

.multipleicons5{
    height: 200px;
    width: 180px;
    border:1px outset black;
    border-radius: 20px;
    margin-top: -205px;
    margin-left:230px ;
 }

 .c5{
    height: 80px;
    width: 100px;
    margin-left: 30px;
    margin-top: 30px;
}

.box5-title{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(230, 169, 54);

}

.box5-description{
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: -10px;
}


.multipleicons6{
    height: 200px;
    width: 180px;
    border:1px outset black;
    border-radius: 20px;
    margin-top: -205px;
    margin-left:230px ;
 }

 .c6{
    height: 80px;
    width: 100px;
    margin-left: 30px;
    margin-top: 30px;
}

.box6-title{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(230, 169, 54);

}

.box6-description{
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: -10px;

}

/* Footer CSS*/

.footer{
    height: 400px;
    width: 1420px;
    margin-top: -15px;
    background-color: rgb(247, 240, 240);
    margin-left: 0px;
}
.ab{
    height: 300px;
    width: 500px;
    margin-left: 20px;
    margin-top: 40px;
    padding-top: 5px;
}
.con{
    height: 300px;
    width: 300px;
    margin-top: -300px;
    margin-left: 550px;
}
.se{
    height: 300px;
    width: 180px;
    margin-top: -300px;
    margin-left: 880px;
}
.qu{
    height: 300px;
    width: 200px;
    margin-top: -300px;
    margin-left: 1090px;
}
.one{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    margin-top: 50px;
}
.pp{
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-top: 30px;
}
.two{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}
.t1{
    height: 25px;
    width: 25px;
    margin-left: 30px;
}
.ppp{
    margin-left: 60px;
    margin-top: -20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.t2{
    height: 25px;
    width: 25px;
    margin-left: 30px;
}
.pppp{
    margin-left: 60px;
    margin-top: -20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.t3{
    height: 25px;
    width: 25px;
    margin-left: 30px;
}
.ppppp{
    margin-left: 60px;
    margin-top: -20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.fa{
    height: 25px;
    width: 25px;
    margin-left: 30px;
}
.in{
    height: 40px;
    width: 45px;
    margin-left: 5px;
    margin-top: -5px;
}
.three{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    margin-top: -20px;
}
.a{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}
.b{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}
.c{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}
.d{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}
.e2{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}
.f1{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}
.four{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    margin-top: -20px;
}
.a1{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}
.a2{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}
.a3{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}
.a4{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}
.cp{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
